<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="field form-group">
    <%= f.label :schedule %><br>
    <%= f.schedule_select :schedule, style: :bootstrap, input_types: {date: :date_select, time: :time_picker, datetime: :datetime_picker} %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>