<%= simple_form_for(@event, remote: true, authenticity_token: true) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.input :name %>
  </div>
  
  <div class="field form-group">
    <%= f.input :schedule, as: :schedule %><br>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>